[program:celery_{{app_name}}]
command=/{{virtualenv_dir}}/bin/python {{app_code_dir}}/manage.py celery worker --loglevel=info
directory={{virtualenv_dir}}/bin
user=nobody
numprocs=1
stdout_logfile=/var/log/supervisor/supervisor-celery-{{app_name}}-stdout.log
stderr_logfile=/var/log/supervisor/supervisor-celery-{{app_name}}-stdout.log
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 600
killasgroup=true
priority=998
