upstream uwsgi_app_server_{{app_name}} {
  server localhost:{{uwsgi_port}} fail_timeout=0;
}

server {
  listen {{httpd_port}};
  server_name {{root_domain_name}};

  ssl                  off;

  access_log /var/log/nginx/{{root_domain_name}}.access.log;
  error_log /var/log/nginx/{{root_domain_name}}.error.log info;

  keepalive_timeout 5;

  # nginx should serve up static files and never send to the WSGI server
  location /static {
    autoindex on;
    alias {{app_code_dir}}/assets;
  }

  location / {
    uwsgi_pass  app_server_{{app_name}};
    include   /etc/nginx/uwsgi_params;
  }
}
